@model projetoMVC.Models.Agenda

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Agenda</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.dData)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dData)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.dHora)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dHora)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Servico.sDescricao)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Servico.sDescricao)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.nStatus)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nStatus)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
