@model IEnumerable<projetoMVC.Models.Telefone>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Pessoa.sNome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nDDD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sTel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sCel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nPrincipal)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Pessoa.sNome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nDDD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sTel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sCel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nPrincipal)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.nIdTelefone }) |
            @Html.ActionLink("Details", "Details", new { id=item.nIdTelefone }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.nIdTelefone })
        </td>
    </tr>
}

</table>
